.MuiPaginationItem-root{
    color: white !important;
    background-color: #272f3e !important;
}

.MuiPagination-ul .Mui-selected{
    color: #272f3e !important;
    background-color: white !important;
    border: 1px solid #272f3e;
}