*{
  font-family: Montserrat,sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

@import "~react-alice-carousel/lib/alice-carousel.css";


@font-face {
  font-family: "Montserrat";
  src: url("font/Montserrat/static/Montserrat-Thin.ttf") format('truetype');
}

.App{
  min-height: 100vh;
  background-color: #39445a;
  color: white;
  padding-top: 140px;
  padding-bottom: 90px;
}

@media  (max-width: 1000px){
  .App{
    padding-top: 90px;
  }
  .pageTitle{
    font-size: 6.4vw;
  }
}

@media  (max-width: 576px){
  .App{
    padding-top: 90px;
  }
  .pageTitle{
    font-size: 7vw !important;
  }
}

.pageTitle{
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  font-size: 2vw;
  border-radius: 50px;
  padding: 4px;
  color: white;
  margin: 20px;
}

.no-description{
  text-align: center;
  font-family: Montserrat,sans-serif;
  width: 100%;
  margin-top: 50px;
}




